<h1>Shopping List</h1>
<ul>
    <li>Water Gun</li>
    <li>Spider Man Figurine</li>
    <li>Abercrombie & Fitch Jacket</li>
    <li>American Eagle Jeans</li>
    <li>Air Force 1 Black Shoes</li>
</ul>